@charset "UTF-8";
@import 'compass/css3';
.json-view{
  margin-bottom: 20px;
  ul{
    list-style-type: none;
    margin:0px;
    li{
      position: relative;
    }
  }
  .content-warp{
    display: inline-block;
    border:1px solid transparent;
  }

  .collapser{
    display: none;
    cursor: pointer;
    &:before{
      content:"-"
    }
  }
  .ellipsis{
    display: none;
  }

  .collapsible{
    .collapser{
      display: inline;
    }
    &.selected{
      ul{
        display: none;
      }
      .collapser{
        &:before{
          content:"+";
        }
      }
      .ellipsis{
        display: inline;
      }
    }
  }
  .abs-left{
    position: absolute;
    left: -1.5em;
    padding:0px 6px;
  }
  .property{
    font-weight: bold;
  }
  .type-String{
    .value{
      &:before{
        content:"\"";
      }
      &:after{
        content:"\"";
      }
    }
  }
}